{% extends "global/Page.html" %} {% load otree %} {% block content %}

{% block title %}
1段階目
{% endblock %}

<p>
15秒以内に、キャンペーン活動において、同温泉街の旅館オーナーと「協力する」または「協力しない」のどちらかを、以下のプルダウンから選択してください。
※あなたと同温泉街オーナーの両者が「協力する」を選んだ場合、60秒間、お互いが負担するキャンペーン費用を話し合えます。一方、あなたと同温泉街のオーナーの両者または一方が「協力しない」を選んだ場合、それぞれが個別に費用を選択します。
</p>

<!-- プレイヤー選択 -->
<form method="post">
  {{ formfields }}
  <!-- 次へボタンは非表示 -->
  <button type="submit" style="display: none" id="hidden-submit">次へ</button>
</form>

<hr>
<p style="font-size: 14px; margin-top: 20px;">
  <strong>儲け</strong> = 宿泊客数 × 宿泊料 − キャンペーン費用<br>
  <strong>あなたの温泉街に訪れるお客の割合</strong> = <span>あなたの温泉街の合計キャンペーン費用</span> / <span>２つの温泉街の合計キャンペーン費用</span><br>
  <strong>あなたの温泉街に訪れるお客数</strong> = 36 × あなたの温泉街に来る割合<br>
  <strong>宿泊料</strong> = あなたの温泉街に訪れるお客数　- あなたの温泉街の合計宿泊サービス数<br>
  ※ 宿泊料またはあなたの温泉街の合計宿泊数が0以下になった場合、それらの値は自動的に<strong>0</strong>になります。
</p>

{% endblock %} {% block scripts %} {% endblock %}



